<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather Express</title>
</head>
<body>
    <div class="content-container">
        <div class="weather_today">
            <div class="content-1">
                <h2>Location</h2>
                <h1>Temp °</h1>
                <h3>Conditions</h3>
                <h4>high° low°</h4>
                <!--This should be a nav so it remains on the top of the screen but only showing the location, temp and conditions-->
            </div>
        </div>
        <div class="weather_hourly">
            <div class="content-2">
                <h2>Now</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
                <!--The hour, weather icon and tempretature sould be placed horizontanly next to eachother must be a scrolable section to view all the hours in between sun rise and sun set-->
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
            <div class="content-2">
                <h2>hour</h2>
                <img class="weather-icon" src="/images/icons8-cloud-lightning.gif" alt="">
                <h4>temp°</h4>
            </div>
        </div>
        <div class="weather_day">
            <div class="content-3">
                <h2>Location</h2>
                <h1>Temp °</h1>
                <h3>Conditions</h3>
                <h4>high° low°</h4>
                <!--10 day summary placed vertically below each other to show a summay of the day of the week, weather icon and high and low of that day-->
            </div>
        </div>
    </div>
</body>
</html>