<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather Express</title>
</head>
<body>
    <div class="content-container">
        <div class="weather_today">
            <div class="content">
                <h2>Location</h2>
                <h1>Temp °</h1>
                <h3>Conditions</h3>
                <h4>high° low°</h4>
            </div>
        </div>
        <div class="weather_hourly">
            <div class="content">
                <p>conditions descryption</p>
                <h2>hour</h2>
                <img src="" alt="">
                <h4>high°</h4>
            </div>
        </div>
        <div class="weather_day">
            <div class="content">
                <h2>Location</h2>
                <h1>Temp °</h1>
                <h3>Conditions</h3>
                <h4>high° low°</h4>
            </div>
        </div>
    </div>
</body>
</html>