<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Current Weather</h1>

  <div>
    <label for="location-input">Location: </label>
    <input type="text" id="location-input">
    <button onclick="fetchWeather()">Get Weather</button>
  </div>

  <div id="weather-info"></div>

  <script>
    // Function to update the weather information on the page
    function updateWeather(weatherData) {
      const weatherInfoElement = document.getElementById("weather-info");

      const location = weatherData.location.name;
      const temperature = weatherData.current.temp_c;
      const condition = weatherData.current.condition.text;
      const wind = weatherData.current.wind_kph;
      const humidity = weatherData.current.humidity;
      const feelsLike = weatherData.current.feelslike_c;

      weatherInfoElement.innerHTML = `
        <h2>${location}</h2>
        <p>Temperature: ${temperature}°C</p>
        <p>Condition: ${condition}</p>
        <p>Wind: ${wind} km/h</p>
        <p>Humidity: ${humidity}%</p>
        <p>Feels Like: ${feelsLike}°C</p>
      `;
    }

    // Function to fetch the weather data based on the input location
    function fetchWeather() {
      const locationInput = document.getElementById("location-input");
      const location = () =>{
        if(locationInput.value === ""){
          alert("Please enter a location");
          document.getElementById("location-input").value = "Durban"
          return "Durban";
        }else{
          return locationInput.value;
        }
      }

      // Fetch the weather data from the server
      fetch(`/weather?location=${location()}`)
        .then(response => response.json())
        .then(weatherData => {
          updateWeather(weatherData);
        })
        .catch(error => {
          console.log("Error fetching weather data:", error);
        });
    }
  </script>
</body>
</html>
