body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: blueviolet;
}

.content-container {
  background: green;
  padding: 2em;
  width: 100%;
  max-width: 500px;
  margin: 1em;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content-container > .weather_today,
.content-container > .weather_hourly,
.content-container > .weather_day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
}

.weather_today {
  background: rgba(255, 255, 255, 0);
}

.weather_hourly {
  background: rgb(255, 255, 255);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-style: inherit;
}

.weather_hourly::-webkit-scrollbar {
  display: none;
}

.content-1,
.content-3 {
  padding: 5px;
  text-align: center;
}

.content-2 {
  padding: 5px;
  text-align: center;
}


.weather_day {
  background: rgb(255, 255, 255);
}

.content-scroll{
  display: inline-flex;
  justify-content: left;
  align-items: flex-end;
  padding: 10px;
  margin: 10px;
  background: rgb(255, 255, 255);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-style: inherit;
}

.weather_search{
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}